
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

/* universal selector */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    
}
.outer-box{
    
    width: 200vh;

    height:100vh;
    background: linear-gradient( to top left,rgb(0, 128, 255), rgb(0, 255, 183));/*linear-graditent*/
}
.inner-box{
    width: 400px;
    height: 600px;
    margin: 0 auto ;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;/*top bottom 20px and lef&right 40px*/
    background-color:rgba(255, 255, 255, 0.29);
 
    backdrop-filter: blur(8px) ; 
    border-radius: 3px;
    box-shadow: 2px  2px  5px ;/*right buttom blur*/
    z-index:2;


}
h1{
    font-size: 2.5rem;
    color: #212121;
    text-align: center;
}
.signup-header h1{
    font-size: 2.5rem;
    color: #212121;
}
.signup-header p{
    font-size: 0.8rem;
    color: #717171;
}
.signup-body{
    margin: 20px 0;
}
.signup-body p label{
    display: block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(135, 135, 135, 0.8);
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.signup-body p input[type="submit"]{
   margin-top: 2px;
   background-color: #3498db;
   border: none;
   color: white;
   cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
background-color: #195e8b;

}
.signup-footer p{
    color: #555;
    text-align: center;
}
.signup-footer p a{
    color: rgb(0, 0, 0);
    text-align: center;
}
#astrics{
    color: red;
}
.circle{
    width: 200px;
    height:200px ;
    border-radius: 100px;
    background: linear-gradient(to  right,rgb(35, 126, 165), rgb(228, 228, 228));
    position: absolute;
}
.c1{
    top: 100px;
    left: 150px;
}
    


.c2{
    bottom: 200px;
    right: 50px;
}
.avatar{
    display: flex;
    justify-content: center;
    
}
p img{
   
    width: 100px;
    padding: 0%;
    border: 0px solid rgba(135, 135, 135, 0.8);
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 2px;
    size:50px;
    left: 1000  px;
   
} 